/*
 * Copyright (c) 2026 by FlashInfer team.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 */

#pragma once

constexpr bool SM120_NVFP4_CAUSAL = {{ causal }};
constexpr bool SM120_NVFP4_USE_SLIDING_WINDOW = {{ use_sliding_window }};
constexpr bool SM120_NVFP4_USE_LOGITS_SOFT_CAP = {{ use_logits_soft_cap }};
